<mat-card class="mission-launch-card">
    <mat-card-header>
      <div class="header-content">
        <h1 class="header-title">SpaceX Mission Launch List</h1>
        <button mat-raised-button color="primary" routerLink="/filter">Filter Missions</button>
      </div>
    </mat-card-header>
  
    <div class="mission-list-container">
      <ul>
        <li *ngFor="let mission of listMission" class="mission-item">
          <a routerLink="/{{mission.flight_number}}">
            <div class="mission-summary">
              <img src="{{mission.links.mission_patch_small}}" alt="Mission patch" class="mission-patch">
              <div class="mission-details">
                <h2>{{mission.mission_name}}</h2>
                <p>Launch Year: {{mission.launch_year}}</p>
              </div>
            </div>
            <p class="mission-description">{{mission.details}}</p>
          </a>
        </li>
      </ul>
    </div>
  </mat-card>
  