<mat-card>
    <mat-card-header class="header">
        <h1>SpaceX Mission Details</h1>
        <a routerLink="/" mat-raised-button color="warn">Back</a>
    </mat-card-header>

    <div class="body">
        <div class="above_content">
            <div class="image">
                <img src="{{singleMission.links.mission_patch_small}}" alt="{{singleMission.rocket.rocket_name}}">
            </div>
            <div class="mission_info">
                <div>
                    <h2>Mission - {{singleMission.mission_name}}</h2>
                </div>
                <div>
                    <p>Name: {{singleMission.mission_name}}</p>
                    <p>Launch Year: {{singleMission.launch_year}}</p>
                </div>
                <div>
                    <h2>Rocket</h2>
                </div>
                <div>
                    <p>Name: {{singleMission.rocket.rocket_name}}</p>
                    <p>Type: {{singleMission.rocket.rocket_type}}</p>
                </div>
                <div>
                    <h2>Launch Site</h2>
                </div>
                <div>
                    <p>Name: {{singleMission.launch_site.site_name_long}}</p>
                </div>
            </div>
        </div>

        <div class="under_content">
            <div>
                <h1>Launch Details</h1>
            </div>
            <div class="launch_detail">
                {{singleMission.details}}
            </div>
            <div>
                <h1>More info on Launch Details</h1>
            </div>
            <div class="icon">
                <a href="{{singleMission.links.article_link}}" target="_blank"><mat-icon>newspaper</mat-icon></a>
                <a href="{{singleMission.links.video_link}}" target="_blank"><mat-icon>videocam</mat-icon></a>
                <a href="{{singleMission.links.wikipedia}}" target="_blank"><mat-icon>public</mat-icon></a>
            </div>
        </div>
    </div>
</mat-card>